<div class="p-4">
    <div class="container">
        
    <h1>{{title}}</h1>
    <form *ngIf="!loading" [formGroup]="EmployeeForm" (ngSubmit)="onSubmit()">
    <div class="row">
 	   <div class="mb-3 col">
            <label class="form-label">Employee ID</label>
            <input title="EmployeeNumber" type="text" readonly formControlName="employeeNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeNumber.errors }" [(ngModel)]="employee.employeeNumber" />
            <div *ngIf="submitted && f.employeeNumber.errors" class="invalid-feedback">
                <div *ngIf="f.employeeNumber.errors.required">Employee ID is required</div>
            </div>
        </div> 
        <div class="mb-3 col">
            <!-- [(ngModel)] is to set value in input field-->
            <label class="form-label">First Name</label>           
            <input title="Name" type="text"   formControlName="firstName" class="form-control"   [(ngModel)]="employee.firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div> 
        
    </div>
    <div class="row">
           <div class="mb-3 col">
            <label class="form-label">Last Name</label>
            <input title="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="employee.lastName" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">DOB</label>
            <input title="DOB" type="datetime-local" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" [(ngModel)]="employee.dob"/>
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">DOB is required</div>
            </div>
        </div>

      
    </div>

    <div class="row"> 
       <!-- [(ngModel)]="employee.genderRefId" to get gender value in input field -->
        <div class="mb-3 col">
            <label class="form-label">Gender</label>
            <select class="form-control" readonly formControlName="genderRefId" [ngClass]="{ 'is-invalid': submitted && f.genderRefId.errors }" [(ngModel)]="employee.genderRefId">
                <option *ngFor="let item of genderdata" value="{{item.referenceId}}" >{{item.title}}</option>          
             </select>

             <div *ngIf="submitted && f.genderRefId.errors" class="invalid-feedback">
                <div *ngIf="f.genderRefId.errors.required">Gender is required</div>
            </div>
        </div>

        <div class="mb-3 col">
            <label class="form-label">Contact Number</label>
            <input title="Contact Number" type="text" formControlName="contactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" [(ngModel)]="employee.contactNumber"  />
            <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Alternate Number</label>
            <input title="AlternateNumber" type="text" formControlName="alternateNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alternateNumber.errors }"  [(ngModel)]="employee.alternateNumber"/>
            <div *ngIf="submitted && f.alternateNumber.errors" class="invalid-feedback">
                <div *ngIf="f.alternateNumber.errors.required">Alternate Number is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Email</label>
            <input title="Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empEmailId.errors }" [(ngModel)]="employee.empEmailId" />
            <div *ngIf="submitted && f.empEmailId.errors" class="invalid-feedback">
                <div *ngIf="f.empEmailId.errors.required">Email is required</div>
            </div>
        </div> 
        
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Address</label>
            <input title="Address" type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" [(ngModel)]="employee.address"/>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">City</label>
            <input title="City" type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" [(ngModel)]="employee.city"/>
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
        </div> 
       
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">State</label>
            <input title="State" type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" [(ngModel)]="employee.state"/>
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">State is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Country</label>
            <input title="Country" type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" [(ngModel)]="employee.country"/>
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
            </div>
        </div>      
    </div>

    <div class="row">
         <div class="mb-3 col">
            <label class="form-label">Zip</label>
            <input title="zip" type="text" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" [(ngModel)]="employee.zip" />
            <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">Zip is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Employee Designation</label>
                <select class="form-control" formControlName="empDesignationId" [ngClass]="{ 'is-invalid': submitted && f.empDesignationId.errors }" [(ngModel)]="employee.empDesignationId">
                    <option *ngFor="let item of empDesignationData" value="{{item.referenceId}}" >{{item.title}}</option>          
                 </select>
          
              <div *ngIf="submitted && f.empDesignationId.errors" class="invalid-feedback">
                <div *ngIf="f.empDesignationId.errors.required">Employee Designation is required</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Practice</label>
                <select class="form-control" formControlName="practiceRefId" [ngClass]="{ 'is-invalid': submitted && f.practiceRefId.errors }" [(ngModel)]="employee.practiceRefId">
                    <option *ngFor="let item of practicedata" value="{{item.referenceId}}" >{{item.title}}</option>          
                 </select>
          
              <div *ngIf="submitted && f.practiceRefId.errors" class="invalid-feedback">
                <div *ngIf="f.practiceRefId.errors.required">Practice is required</div>
            </div>
        </div> 
        <div class="mb-3 col">
            <label class="form-label">DOJ</label>
            <input title="DOJ" type="datetime-local" formControlName="doj" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.doj.errors }" [(ngModel)]="employee.doj" />
            <div *ngIf="submitted && f.doj.errors" class="invalid-feedback">
                <div *ngIf="f.doj.errors.required">DOJ is required</div>
            </div>
        </div>
    </div>


    <div class="row">       
        <div class="mb-3 col">
            <label class="form-label">Employee Type</label>

                <select class="form-control" formControlName="empTypeId" [ngClass]="{ 'is-invalid': submitted && f.empTypeId.errors }" [(ngModel)]="employee.empTypeId">
                    <option *ngFor="let item of empTypeData" value="{{item.referenceId}}" >{{item.title}}</option>          
                 </select>
          
              <div *ngIf="submitted && f.empTypeId.errors" class="invalid-feedback">
                <div *ngIf="f.empTypeId.errors.required">Employee Type is required</div>
            </div>
        </div>

        <div class="mb-3 col">
            <label class="form-label">Username</label>
            <select class="form-control" readonly formControlName="userId" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" [(ngModel)]="employee.userId">
                <option *ngFor="let item of usernamedata" value="{{item.id}}" >{{item.username}}</option>          
             </select>          
             
        </div> 
    </div>


        <div class="mb-3">
            <button type="submit" [disabled]="submitting" class="btn btn-primary">
                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                Save
            </button>
            &nbsp;
             <a routerLink='/empl' class="btn btn-primary">Cancel</a>
        </div>
   </form>

   <div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
    </div>
</div>

