<div class="p-4">
<div class="container">
  <h1>Employee Detail</h1>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <hr/>   
      <div class="row">
            <div class="mb-3 col">
              <label for="Name"><b>First Name: </b></label>
             {{employee.firstName}}
            </div>

            <div class="mb-3 col">
                <label for="Name"><b>Last Name:</b></label>
                {{employee.lastName}}
              </div>
      </div>
      <div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Date of Birth: </b></label>
                {{employee.dob|date:'yyyy-MM-dd'}}
              </div>

              <div class="mb-3 col" >
                <label for="Name"><b>Gender: </b></label>
                {{employee.gender}}
              </div>
      </div>
      <div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Contact Number: </b></label>
                {{employee.contactNumber}}
              </div>

              <div class="mb-3 col">
                <label for="Name"><b>Alternate Number: </b></label>
                {{employee.alternateNumber}}
              </div>
      </div>
      <div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Email: </b></label>
                {{employee.empEmailId}}
              </div>

              <div class="mb-3 col">
                <label for="Name"><b>Address: </b></label>
                {{employee.address}}
              </div>
</div>
<div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>City: </b></label>
                {{employee.city}}
              </div>
              <div class="mb-3 col">
                <label for="Name"><b>State: </b></label>
                {{employee.state}}
              </div>
</div>
<div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Country: </b></label>
                {{employee.country}}
                </div>

                <div class="mb-3 col">

                <label for="Name"><b>Zip: </b></label>
                {{employee.zip}}
              </div>
</div>
<div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Employee ID: </b></label>
                {{employee.employeeNumber}}
              </div>
          
              <div class="mb-3 col">
                <label for="Name"><b>Designation: </b></label>
                {{employee.empDesignation}}
              </div>
</div>
<div class="row">

              <div class="mb-3 col">
                <label for="Name"><b>Practice: </b></label>
                {{employee.practice}}
              </div>
          
              <div class="mb-3 col">
                <label for="Name"><b>Date of Joining: </b></label>
                {{employee.doj|date:'yyyy-MM-dd'}}
              </div>
        </div>
        <div class="row">
      
              <div class="mb-3 col">
                <label for="Name"><b>Employee Type: </b></label>
                {{employee.empType}}
            </div>

           
        </div>
        <br/>

        <div class="mb-3 col">
          <a routerLink='/empl' class="btn btn-primary">Back to Employee List</a>

            </div>
      </div> 
    </div>

  </div>

  




